<form class="form" role="form">
    <div class="form-group">
        <label class="control-label">123</label>
        <input type="text" class="form-control" placeholder="請輸入123" />
    </div>
    <div class="form-group">
        <label class="control-label">456</label>
        <input type="text" class="form-control" placeholder="請輸入456" />
    </div>
    <div class="form-group">
        <label class="control-label">789</label>
        <input type="text" class="form-control" placeholder="請輸入789" />
    </div>
    <div>
        <button type="submit" class="btn btn-success">送出</button>
    </div>
</form>