<form class="form" role="form" id="homeadd">
    <div class="form-group">
        <label class="control-label">姓名</label>
        <input type="text" class="form-control" placeholder="請輸入姓名" required data-required-error="此欄位要輸入喔^.<" data-equals data-cusmin="2" data-cusmax="10" />
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="control-label">手機號碼</label>
        <input type="text" class="form-control" placeholder="請輸入手機號碼" 
               pattern="^[0-9]*$" required data-required-error="此欄位要輸入喔^.<" data-pattern-error="請輸入數字喔" data-minlength="10" data-minlength-error="手機號碼有10個數字!" />
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="control-label">地址</label>
        <input type="text" class="form-control" placeholder="請輸入地址" />
    </div>
    <div>
        <button type="submit" class="btn btn-success">送出</button>
    </div>
</form>