@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div id="toolbar" class="row">

</div>

<p>Use this area to provide additional information.</p>

@section Scripts{
    <script src="~/Scripts/ToolBarScripts.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            InitToolBar("toolbar", "Home");
        })
    </script>
}